openapi: 3.0.0
info:
  title: Alpha Vantage API
  version: 1.0.0
  description: "The simplest and most effective way to receive stock, ETF, forex, technical indicators, and cryptocurrency data. Constantly ranked as a leading API provider for ease of use, accuracy, and price."
paths:
  /query:
    get:
      summary: Search Endpoint, Looking for some specific symbols or companies? We've got you covered! The Search Endpoint returns the best-matching symbols and market information based on keywords of your choice. The search results also contain match scores that provide you with the full flexibility to deve...
      parameters:
        - name: keywords
          in: query
          description: A text string to search symbols or companies
          required: true
          schema:
            type: string
        - name: function
          in: query
          description: The API function (SYMBOL_SEARCH)
          required: true
          schema:
            type: string
        - name: datatype
          in: query
          description: The data type of the response (json or csv)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
      servers:
        - url: https://alpha-vantage.p.rapidapi.com
          description: RapidAPI Server
      security:
        - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-RapidAPI-Key
