openapi: 3.0.1
info:
  title: ImageSearch ChatGPT Plugin
  description: A plugin that connects to the Unsplash API to find and display images based on user's query.
  version: 'v1'
servers:
  - url: https://imgser.aigenprompt.com
paths:
  /image:
    get:
      operationId: fetchImage
      summary: Get images based on the search query
      parameters:
        - name: query
          in: query
          description: The search term to find images for
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fetchImageResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
components:
  schemas:
    fetchImageResponse:
      type: array
      items:
        type: object
        properties:
          title:
            type: string
            description: The title of the image
          url:
            type: string
            format: uri
            description: The URL of the image
          download_url:
            type: string
            format: uri
            description: The URL to download the full image
          track_url:
            type: string
            format: uri
            description: The URL to track download count after downloading the image
          author_name:
            type: string
            description: Author name of  the image
          author_website:
            type: string
            format: uri
            description: Author's website
          unsplash_website:
            type: string
            format: uri
            description: Unsplash's website           
    errorResponse:
      type: object
      properties:
        error:
          type: string
          description: An error message describing the issue

