anthropic==0.2.7
backoff
beautifulsoup4==4.12.2
chromadb
cloudinary
datasets
emoji==1.7
Flask==2.3.2
Flask-Cors==3.0.10
flex==6.14.1
fuzzywuzzy==0.18.0
ipython==8.12.0
json5~=0.9.14
jsonlines
kaggle
langchain==0.0.173
loguru==0.7.0
matplotlib
mo-sql-parsing==9.402.23144
nltk
numpy~=1.24.2
openai==0.27.8
openapi-spec-validator==0.5.6
openpyxl
pandas==1.5.3
prance==0.22.11.4.0
pre-commit
pydantic~=1.9.0
pycharts
pymongo==4.3.3
pyyaml~=6.0.1
recognizers-text-suite
rich
records
redis
requests
retrying~=1.3.4
seaborn
setuptools~=67.6.1
scikit-learn
sqlalchemy~=1.4.16
sqlparse==0.4.2
tabulate
tiktoken
tqdm~=4.65.0
types-requests==0.1.13
typing-inspect==0.8.0
typing_extensions==4.5.0