openapi: 3.0.3
info:
  title: NewsAPI
  description: Search worldwide news with code. Locate articles and breaking news headlines from news sources and blogs across the web with our JSON API
  version: 1.0.0
servers:
- url: https://newsapi.org/v2
tags:
  - name: articles
    description: News articles
paths:
  /everything/:
    get:
      tags:
        - articles
      summary: News List
      operationId: everythingGet
      parameters:
      - name: q
        in: query
        description: Theme of news
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: date
        required: true
        schema:
          type: string
      - name: sortBy
        in: query
        description: Sort
        required: true
        schema:
          type: string
      - name: language
        in: query
        description: Language in two letters
        required: true
        schema:
          type: string
      - name: apiKey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: number of page
        schema:
          type: integer
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleList'
        default:
          description: enexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
components:
  schemas:
    ErrorModel:
      type: object
      required:
      - message
      - code
      properties:
        message:
          type: string
        code:
          type: integer
          minimum: 100
          maximum: 600
    ArticleList:
      type: object
      properties:
        status:
          type: string
        totalResults:
          type: integer
        articles:
          type: array
          items:
            $ref: '#/components/schemas/Article'
    Article:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/Source'
        author:
          type: string
        title:
          type: string
        description:
          type: string
        url:
          type: string
        urlToImage:
          type: string
        publishedAt:
          type: string
        content:
          type: string
      required:
      - title
    Source:
      type: object
      properties:
        id:
          type: string
        name:
          type: string