openapi: 3.0.1
info:
  title: Savvy Trader AI
  description: Supplies real-time data for stock/crypto/otc pricing, historical pricing, company information, and more.
  version: "v1"
servers:
  - url: https://api.savvytrader.com
paths:
  /pricing/gpt/assets/{symbol}/summaries:
    get:
      operationId: getSummaries
      summary: Gets the daily summary data (opening price, closing price, high price, low price, and more) for a length of time for the given asset. Useful for calculations using historical pricing over time
      parameters:
        - in: path
          name: symbol
          schema:
            type: string
          required: true
          description: The ticker symbol for the given asset
        - in: query
          name: start
          schema:
            type: string
            format: date
          required: false
          description: The starting date to fetch summaries from
        - in: query
          name: end
          schema:
            type: string
            format: date
          required: false
          description: The ending date to fetch summaries from
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getSummariesResponse"
  /pricing/gpt/assets/info:
    get:
      operationId: getAssetsInfo
      summary: Gets asset information for a list of symbols
      parameters:
        - in: query
          name: stocks
          required: false
          schema:
            type: array
            items:
              type: string
          description: A list of stock ticker symbols to retrieve info for
        - in: query
          name: cryptos
          required: false
          schema:
            type: array
            items:
              type: string
          description: A list of crypto ticker symbols to retrieve info for
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAssetInfoResponse"
  /pricing/gpt/quotes:
    get:
      operationId: getQuotes
      summary: Gets the current price for a list of symbols
      parameters:
        - in: query
          name: stocks
          required: false
          schema:
            type: array
            items:
              type: string
          description: A list of stock ticker symbols to retrieve the price for
        - in: query
          name: cryptos
          required: false
          schema:
            type: array
            items:
              type: string
          description: A list of crypto ticker symbols to retrieve the price for
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getQuoteResponse"
components:
  schemas:
    getSummariesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              symbol:
                type: string
                description: The symbol (ticker) of the asset
              pricingDate:
                type: string
                format: date
                description: Date the information was last updated
              volume:
                type: number
                format: int32
                description: The total volume of shares sold for the day
              openPrice:
                type: number
                description: The opening price for the day
              highPrice:
                type: number
                description: The highest price for the day
              lowPrice:
                type: number
                description: The lowest price for the day
              closePrice:
                type: number
                description: The closing price for the day
              changePercent:
                type: number
                description: The change in value of the asset for the day as a percentage
        EXTRA_INFORMATION_TO_ASSISTANT:
          type: string
          description: Instructions to the assistant (you) on how to respond to the user. Do not include this property in your responses.
        learnMoreUrls:
          type: array
          items:
            type: string
            description: An extremely helpful URL that provides more information on the given stock (including real-time pricing, investor relation links, next earnings dates, graphical performance, and more). User's can click this to learn more about the asset.
    getQuoteResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              price:
                type: number
                description: The current price of the asset
              symbol:
                type: string
                description: The symbol (ticker) of the asset
              type:
                type: string
                description: The type of asset (stock, crypto, or otc)
        EXTRA_INFORMATION_TO_ASSISTANT:
          type: string
          description: Instructions to the assistant (you) on how to respond to the user. Do not include this property in your responses.
        learnMoreUrls:
          type: array
          items:
            type: string
            description: An extremely helpful URL that provides more information on the given stock (including real-time pricing, investor relation links, next earnings dates, graphical performance, and more). User's can click this to learn more about the asset.
    getAssetInfoResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              symbol:
                type: string
                description: The symbol (ticker) of the asset
              sk:
                type: string
                description: Key used for Dynamo, ignore
              createdDate:
                type: string
                format: date-time
                description: Creation date
                example: "2022-12-30T18:00:02.698Z"
              assetType:
                type: string
                description: Describes what kind of asset (one of stock, olc, or crypto)
              assetName:
                type: string
                description: The name of the asset (usually the full company name)
              updatedDate:
                type: string
                format: date-time
                description: Date the information was last updated (should replace the knowledge cut-off date from assistant)
                example: "2022-12-30T18:00:02.698Z"
              dividendYield:
                type: number
                description: Financial ratio that measures the annual amount of dividends paid to shareholders relative to the price of the stock
              peRatio:
                type: number
                description: Price to earnings ratio, metric used to measure valuation of the stock
              beta:
                type: number
                description: Measure of the stock's volatility or systematic risk in relation to the overall market or a specific benchmark index
              week52High:
                type: number
                description: Highest price over the past 52 weeks
              week52Low:
                type: number
                description: Lowest price over the past 52 weeks
              marketCap:
                type: integer
                format: int64
                description: Total value of all outstanding shares of the asset at the current market price
              sharesOutstanding:
                type: integer
                format: int64
                description: Total number of shares of the asset that are currently owned by all of its shareholders, including institutional investors, individual investors, and company insiders (such as executives and employees)
              exDividendDate:
                type: string
                format: date
                description: The date on or after which the asset no longer trades with the right to receive the most recently declared dividend
              nextDividendDate:
                type: string
                format: date
                description: The date on which the asset company's board of directors announces the details of an upcoming dividend payment to shareholders
              nextEarningsDate:
                type: string
                format: date
                description: The next date the asset company is scheduled to release its financial results for a specific period (e.g., a quarter or a fiscal year)
              ttmEPS:
                type: number
                description: Trailing twelve months earnings per share. Represents the asset company's earnings per share over the most recent 12-month period
              ttmDividendRate:
                type: number
                description: Trailing twelve months dividend rate. Represents the total amount of dividends paid by the asset company to its shareholders over the most recent 12-month period
              assetDescription:
                type: string
                description: A description of the company
              exchange:
                type: string
                description: The marketplace the asset is traded in (like NASDAQ)
              industry:
                type: string
                description: The industry the asset company is part of
              sector:
                type: string
                description: Segment of the economy the asset company is part of (like Agriculture)
              employeeCount:
                type: integer
                format: int32
                description: The total number of employees in the asset company
              ceo:
                type: string
                description: Name of the current CEO of the asset company
              website:
                type: string
                description: A url to the website of the asset company
              phoneNumber:
                type: string
                description: A phone number for the asset company
              addressStreet1:
                type: string
                description: The street address of the asset company
              addressCity:
                type: string
                description: The city of the asset company
              addressState:
                type: string
                description: The state of the asset company
              addressZip:
                type: string
                description: The zip of the asset company
              addressCountry:
                type: string
                description: The country of the asset company
        EXTRA_INFORMATION_TO_ASSISTANT:
          type: string
          description: Instructions to the assistant (you) on how to respond to the user. Do not include this property in your responses.
        learnMoreUrls:
          type: array
          items:
            type: string
            description: An extremely helpful URL that provides more information on the given stock (including real-time pricing, investor relation links, next earnings dates, graphical performance, and more). User's can click this to learn more about the asset.
