{"openapi":"3.0.2","info":{"title":"FastAPI","version":"0.1.0","description":"FiscalNote enables access to select market-leading, real-time data sets for legal, political, and regulatory information"},"paths":{"/white-house/calendar/{date}":{"get":{"summary":"Get Calendar For Date","operationId":"get_calendar_for_date_white_house_calendar__date__get","parameters":[{"required":true,"schema":{"title":"Date","type":"string","format":"date"},"name":"date","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api__routers__calendar__models__Response"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/remarks/biden/":{"get":{"summary":"List Biden Remarks","operationId":"list_biden_remarks_remarks_biden__get","parameters":[{"required":false,"schema":{"title":"Q","type":"string","default":""},"name":"q","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api__routers__remarks__models__Response"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/roll-call/articles/":{"get":{"summary":"Search Articles","operationId":"search_articles_roll_call_articles__get","parameters":[{"required":false,"schema":{"title":"Q","type":"string","default":""},"name":"q","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/api__routers__roll_call__models__Response"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/":{"get":{"summary":"Read Root","operationId":"read_root__get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}}},"components":{"schemas":{"Article":{"title":"Article","required":["date","text","headline","byline","slug"],"type":"object","properties":{"date":{"title":"Date","type":"string","format":"date"},"text":{"title":"Text","type":"string"},"headline":{"title":"Headline","type":"string"},"byline":{"title":"Byline","type":"array","items":{"type":"string"}},"slug":{"title":"Slug","type":"string"}}},"Calendar":{"title":"Calendar","required":["date","calendar"],"type":"object","properties":{"date":{"title":"Date","type":"string","format":"date"},"calendar":{"title":"Calendar","type":"array","items":{"$ref":"#/components/schemas/Event"}}}},"Coordinates":{"title":"Coordinates","type":"object","properties":{"latitude":{"title":"Latitude","type":"number"},"longitude":{"title":"Longitude","type":"number"}}},"Event":{"title":"Event","required":["time","category","description","location"],"type":"object","properties":{"time":{"title":"Time","type":"string","format":"time"},"category":{"title":"Category","type":"string"},"description":{"title":"Description","type":"string"},"press_coverage":{"title":"Press Coverage","type":"string"},"timezone":{"title":"Timezone","type":"string"},"location":{"$ref":"#/components/schemas/api__routers__calendar__models__Location"}}},"HTTPValidationError":{"title":"HTTPValidationError","type":"object","properties":{"detail":{"title":"Detail","type":"array","items":{"$ref":"#/components/schemas/ValidationError"}}}},"Speech":{"title":"Speech","required":["candidate","date","record_type","media_type","record_title","source","type","url","version","location"],"type":"object","properties":{"candidate":{"title":"Candidate","type":"string"},"date":{"title":"Date","type":"string"},"image_url":{"title":"Image Url","type":"string"},"record_type":{"title":"Record Type","type":"string"},"media_type":{"title":"Media Type","type":"string"},"record_title":{"title":"Record Title","type":"string"},"source":{"title":"Source","type":"string"},"type":{"title":"Type","type":"string"},"url":{"title":"Url","type":"string"},"version":{"title":"Version","type":"string"},"video_url":{"title":"Video Url","type":"string"},"location":{"$ref":"#/components/schemas/api__routers__remarks__models__Location"},"transcript":{"$ref":"#/components/schemas/Transcript"}}},"Transcript":{"title":"Transcript","required":["text"],"type":"object","properties":{"text":{"title":"Text","type":"string"},"time_start":{"title":"Time Start","type":"string"},"time_end":{"title":"Time End","type":"string"}}},"ValidationError":{"title":"ValidationError","required":["loc","msg","type"],"type":"object","properties":{"loc":{"title":"Location","type":"array","items":{"anyOf":[{"type":"string"},{"type":"integer"}]}},"msg":{"title":"Message","type":"string"},"type":{"title":"Error Type","type":"string"}}},"api__routers__calendar__models__Location":{"title":"Location","required":["coordinates"],"type":"object","properties":{"text":{"title":"Text","type":"string"},"street_address":{"title":"Street Address","type":"string"},"city":{"title":"City","type":"string"},"county":{"title":"County","type":"string"},"cbsa":{"title":"Cbsa","type":"string"},"state":{"title":"State","type":"string"},"state_code":{"title":"State Code","type":"string"},"zipcode":{"title":"Zipcode","type":"string"},"country":{"title":"Country","type":"string"},"coordinates":{"$ref":"#/components/schemas/Coordinates"}}},"api__routers__calendar__models__Response":{"title":"Response","required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/Calendar"}}},"api__routers__remarks__models__Location":{"title":"Location","required":["city","country"],"type":"object","properties":{"city":{"title":"City","type":"string"},"state":{"title":"State","type":"string"},"state_code":{"title":"State Code","type":"string"},"country":{"title":"Country","type":"string"}}},"api__routers__remarks__models__Response":{"title":"Response","required":["data"],"type":"object","properties":{"data":{"title":"Data","type":"array","items":{"$ref":"#/components/schemas/Speech"}}}},"api__routers__roll_call__models__Response":{"title":"Response","required":["data"],"type":"object","properties":{"data":{"title":"Data","type":"array","items":{"$ref":"#/components/schemas/Article"}}}}}},"servers":[{"url":"https://api.factba.se"}]}