{"openapi":"3.0.2","info":{"title":"TimeMachine","description":"Enhances AI with real-time awareness, providing current time in various formats and timezones.","version":"1.2.0"},"servers":[{"url":"https://timemachine.cheatshit.com"}],"paths":{"/":{"get":{"summary":"Now","operationId":"now__get","parameters":[{"description":"The format to return the current time in. Options: 'iso8601', 'rfc1123', 'rfc850', 'asctime', or a custom format string.(ChatGPT do not have to pass this query if it prefer 'iso8601'.)","required":false,"schema":{"title":"Format","type":"string","description":"The format to return the current time in. Options: 'iso8601', 'rfc1123', 'rfc850', 'asctime', or a custom format string.(ChatGPT do not have to pass this query if it prefer 'iso8601'.)","default":"iso8601"},"name":"format","in":"query"},{"description":"The timezone to return the current time in. This should be a string representing a valid timezone, like 'UTC', 'Europe/London', 'America/New_York', etc.","required":false,"schema":{"title":"Tz","type":"string","description":"The timezone to return the current time in. This should be a string representing a valid timezone, like 'UTC', 'Europe/London', 'America/New_York', etc.","default":"Asia/Shanghai"},"name":"tz","in":"query"}],"responses":{"200":{"description":"Returns the current time in the requested format and timezone","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TimeResponse"},"example":{"now":"Wed May 24 01:27:11","format":"asctime","tz":"Asia/Shanghai"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"HTTPValidationError":{"title":"HTTPValidationError","type":"object","properties":{"detail":{"title":"Detail","type":"array","items":{"$ref":"#/components/schemas/ValidationError"}}}},"TimeResponse":{"title":"TimeResponse","required":["tz","now","format"],"type":"object","properties":{"tz":{"title":"Tz","type":"string"},"now":{"title":"Now","type":"string"},"format":{"title":"Format","type":"string"},"errmsg":{"title":"Errmsg","type":"string"}}},"ValidationError":{"title":"ValidationError","required":["loc","msg","type"],"type":"object","properties":{"loc":{"title":"Location","type":"array","items":{"anyOf":[{"type":"string"},{"type":"integer"}]}},"msg":{"title":"Message","type":"string"},"type":{"title":"Error Type","type":"string"}}}}}}