{"openapi":"3.0.1","info":{"title":"Klook Travel Assistant Plugin","description":"A plugin that assistant user to plan their travel plan, help user find hotels, activity, flight, train, car rental, for their travel plan.","version":"v1"},"servers":[{"url":"https://www.klook.com"}],"paths":{"/v1/gptpluginsrv/public/search":{"get":{"operationId":"search","summary":"search activity, hotel, flight, train, car rental and other travel products","parameters":[{"in":"query","name":"destination","schema":{"type":"string"},"required":true,"description":"the destination of the travel where user want to go"},{"in":"query","name":"departure","schema":{"type":"string"},"required":false,"description":"the departure of the travel where user from"},{"in":"query","name":"keyword","schema":{"type":"string"},"required":true,"description":"the keyword of the travel activity, hotel, flight, trans, car rental which user want to search"},{"in":"query","name":"category","schema":{"type":"string","enum":["Things to do","Attractions","Theme parks","Water parks","Museums","Parks & gardens","Zoos & aquariums","Cable cars","Observation decks","Historical sites","Playgrounds","Indoor games","Travel passes","Attraction passes","Beach/resort pass","Events & shows","Conferences","Galas","Live house","Online events","Meet & greets","Movies","Parties","Pop-ups","Seminars","Tournaments","Exhibitions","Festivals & carnivals","Marathons & runs","Concerts","Shows & musicals","Tours","Day trips","Boat tours","Hop on hop off","Food & wine tours","Air tours","Multi-day tours","Hiking","Shopping tours","Cruises","Sightseeing cruises","Cruise vacation","Massages & hot springs","Spa & massages","Hot springs","Water activities","Snorkeling","Rafting","Paddleboarding","Boat charters","Water sports","Kayaking","Surfing","Fishing trips","PADI diving","Outdoor & sports activities","Skydiving","Bungee jumping","Rock climbing","Ziplining","Gliding","ATV","Go-karting","Scooter rentals","Skiing & snowboarding","Wildlife","Golfing","Camping","Canyoning","Fitness","Wellness","Cultural experiences","Workshops","Cooking classes","Traditional clothes rental","Beauty services","Photoshoot","Transport","Rail passes","Europe rail passes","More rail passes","JR passes","Japan rail passes","Train tickets","Europe trains","Taiwan trains","Japan trains","Buses","Taiwan intercity buses","Europe intercity buses","Thailand intercity buses","SG-MY buses","MY & SG buses","Flights","Ferries","Private airport transfers","Airport trains & buses","Car charters","Scooters & bikes","hotel","train","car rental","ferries","flight","airport transfer","buses","other"]},"required":true,"description":"category of the travel product"},{"in":"query","name":"from_time","schema":{"type":"string"},"required":false,"description":"the start time of the travel, format: YYYY-MM-DD, if not set, will use current time"},{"in":"query","name":"end_time","schema":{"type":"string"},"required":false,"description":"the end time of the travel, format: YYYY-MM-DD, if not set, will use current time + 5 day"},{"in":"query","name":"currency","schema":{"type":"string"},"required":true,"description":"the currency base on user location or input language, for example: if user in Hong Kong will be HKD, if user in Singapore will be SGD, if user inputs Chinese will be CNY, if user inputs Japanese will be JPY, if not set will use USD"},{"in":"query","name":"original_input","schema":{"type":"string"},"required":true,"description":"the original input of the user, for example: \"I want to go to Hong Kong from Singapore on 2021-08-01 to 2021-08-05\""}],"responses":{"200":{"description":"search result","content":{"application/json":{"schema":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"url":{"type":"string"},"photo_url":{"type":"string","description":"photo to be displayed in the chat."},"price":{"type":"string","description":"the selling price of the product"},"city_name":{"type":"string"},"category":{"type":"string","description":"category of the product"},"rating":{"type":"string","description":"the rating of the product"}}}},"IMPORTANT_INFORMATION_FOR_ASSISTANT":{"type":"string"}}}}}}}}}}}