components:
  schemas:
    GiphyRequest:
      properties:
        query:
          title: Query
          type: string
      required:
      - query
      title: GiphyRequest
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
info:
  description: Search through a wide range of gifs - Powered by Giphy.
  title: GIF Search
  version: 0.1.0
openapi: 3.0.2
paths:
  /healthcheck:
    get:
      operationId: root_healthcheck_get
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Root
  /search:
    post:
      operationId: getSearchResults
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GiphyRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: Get a list of gifs based on the search query
  /trending:
    get:
      operationId: getTrendingResults
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Get a list of gifs based on the current trends
servers:
- url: https://chat-plugin-giphy.efficiency.tools
